
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.center_div{
    margin: 0 auto;
    width:50%; 
}

.displayList {
  display: inline;
  list-style: none;
}

.displayList li {
  display: inline;
  margin-right: 20px;
  font-size: 12px;
}

.displayList li span {
  margin-right: 5px;
}

.displayList li:first-child {
  font-weight: bolder;
}


.main {
  margin-top: 45px;
}

.station {
  margin-bottom: 20px;
  /*padding-bottom: 20px;*/
}